@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}

.header{
    width: 100%;
    height: 75px;
    background: #101922;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px
    rgba(0, 0, 0, 0.4);
}

.container{
    width: 98%;
    max-width: 2000px;
    margin: auto;
}

.logo{
    float: left;
    line-height: 75px;
}

.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 45px;
    cursor: default;
}

.menu{
    float: right;
    line-height: 80px;
}

.menu a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    line-height: normal;
    font-size: 30px;
    transition: all 500ms ease; 
    border-bottom: 4px solid transparent;
}

.menu a:hover{
    color: rgba(0, 255, 200, 0.918);
    border-bottom: 4px solid rgba(0, 255, 200, 0.918);
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
  
    padding-top: 40px;
    color: #fff;
  }
  .socials{
    float: right;
    list-style: none;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
  
    border-radius: 50%;
  
  }
  .socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
  
  }
  .socials a:hover i{
    color: aqua;
  }
  
  .footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
  padding-bottom: 40px;
    text-align: center;
  }
  .footer-bottom p{
  float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
  }
  .footer-menu{
  float: right;
  
  }
  .footer-menu ul{
  display: flex;
  }
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  .footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
  }
  .footer-menu ul li a:hover{
  color: #27bcda;
  }
  
  @media (max-width:300px) {
  .footer-menu ul
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  }